<nb-card>
  <nb-card-header class="text-center">
    <h3 style="font-style:italic;">{{'event.list'|translate}}</h3> 
  
  </nb-card-header>
  <nb-card-body>
   
<nb-card>
<nb-card-body>
 
  <div *ngFor="let thing of classem"> 

  
   
     
        <nb-card style="background-color:whitesmoke;width:300px;height:300px; float: left; margin-right: 30px;">
          <nb-card-header style="
          color: brown;">{{thing.title}}   </nb-card-header>
          <nb-card-body>
            <div class="row">
            <div class="col-lg-12">
              <div *ngIf=retrievedImage>
                <img [src]="retrievedImage" width="250" height="150">
               </div>
          </div>
        
          <div class="col-lg-12">
            {{'event.type_event'|translate}}{{thing.type_event}}
          <br>
          {{'event.date_event'|translate}}: {{thing.date_event}}
           <br>
           {{'event.nbrparticipants'|translate}}:{{thing.nbrparticipants}}
            <br>
        </div>
        </div> 
          </nb-card-body>
        </nb-card>
        </div>
        
        
        </nb-card-body>
        </nb-card>
        </nb-card-body>
        </nb-card>   
        
           

