<div class="row">
  <div class="col-xxl-7">
    
    <nb-card>
  
      <nb-card-body>
        <nb-tabset fullWidth>
          <nb-tab tabTitle="{{'stat.Parprix' | translate}}">
            <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="single2"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                >
                </ngx-charts-bar-vertical> 
          </nb-tab>
          <nb-tab tabTitle="{{'stat.parNumber' | translate}}">
            <ngx-charts-pie-chart
          [view]="view"
          [legend]="showLegend"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          >
          </ngx-charts-pie-chart>
          </nb-tab>
        </nb-tabset>
       
      </nb-card-body>
    </nb-card>
  
  

  </div>
  
  </div>
  
